---
import CardLocations from "../components/CardLocations.astro";
import PrincipalSections from "../components/PrincipalSections.astro";
---

<section id="Sucursales">
  <div class="Locations">
    <div class="pad">
      <PrincipalSections
        class="locations-section"
        PreSutitle="ENCUENTRANOS"
        Subtitle="Nuestras"
        S_subtitle="Sucursales"
        description="Visítanos en cualquiera de nuestras sucursales y disfruta del mejor sabor de boneless en la ciudad."
      
        />
    </div>
    <div class="cards-container">
      <CardLocations
        Location="MR. BONELESS ROSITA"
        adress="12 de Octubre 951, Zaragoza, 26860 Nueva Rosita, Coah."
        time="Lun - Sab: 1:00 PM - 10:00 PM"
        phone="(861) 126 0098"
        oinka="https://www.google.com/maps/place/Mr.+Boneless+Nueva+Rosita/@27.934194,-101.2129959,17.07z/data=!4m9!1m2!2m1!1s12+de+octubre+%232084+colonia+zaragoza,+Nueva+Rosita,+Mexico,+26860!3m5!1s0x868adb0022b11fcd:0xdf085a6c1f3f1731!8m2!3d27.9341345!4d-101.2103575!16s%2Fg%2F11wxqz4fsz?entry=ttu&g_ep=EgoyMDI2MDIyMi4wIKXMDSoASAFQAw%3D%3D"
      />
      <CardLocations
        Location="MR. BONELESS SABINAS"
        adress="Lamadrid 722, Zona Centro, 26700 Sabinas, Coah."
        time="Lun - Sab: 12:30 PM - 10:00 PM"
        phone="(861) 617 6788"
        oinka="https://www.google.com/maps/place/Mr.+Boneless+Sabinas/@27.8658373,-101.1237517,20z/data=!4m14!1m7!3m6!1s0x868ac300330eaa59:0x4150d594ad56b2a6!2sPlaza+Comercial+Encinos!8m2!3d27.865881!4d-101.1235248!16s%2Fg%2F11lmjwvc4f!3m5!1s0x868ac3e7c85f2ae5:0x819a1e264b94cbaa!8m2!3d27.8659441!4d-101.1235684!16s%2Fg%2F11mpftwlp0?entry=ttu&g_ep=EgoyMDI2MDIyMi4wIKXMDSoASAFQAw%3D%3D"
      />
      <CardLocations
        Location="MR. BONELESS MUZQUIZ"
        adress="Calle Morelos, Múzquiz Centro, 26340 Melchor Múzquiz, Coahuila de Zaragoza"
        time="Lun - Sab: 1:00 PM - 10:00 PM"
        phone="(861) 126 7351"
        oinka="https://www.bing.com/maps/search?v=2&pc=FACEBK&mid=8100&mkt=en-US&FORM=FBKPL1&q=Morelos+100+NTE+Centro%2C+Muzquiz%2C+Mexico%2C+26340&cp=27.877968%7E-101.513369&lvl=16&style=r"
      />
    </div>
  </div>
</section>

<style>
  section {
    padding: 5rem 1rem;
  }

  .cards-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
